
/* Alterando a fonte e cores de fundo/texto */
body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #333333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2874c0;
    color: rgb(236, 236, 236);
    text-align: center;
    padding: 20px 0;
}

/* Centralizando o conteúdo e adicionando margens */
main {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.998);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(131, 33, 33, 0.1);
    text-align: center;
}

img {
    border-radius: 50%;
    margin-top: 20px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3e5f74;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}